* {
	font-family: 'Open Sans', 'sans-serif';
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(15, 15, 15);
}

header {
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px;
	background-color: rgb(25,25,25);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

header h1 {
	float: left;
	margin: 3px;
	margin-left: 10px;
	display: inline-block;
}

#title_MUSIX {
	color: rgb(255, 131, 0);
}

#title_SPOTIFY {
	color: rgb(173, 255, 0);
}

#searchBar {
	float: right;
	margin: 10px;
	display: inline-block;
	z-index: 999;
}

#main {
	position: relative;
	top: 51px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: auto;
}

.leftPanel-open #main{
	left: 250px;
}

.rightPanel-open #main{
	right: 250px;
}

.leftPanel-open #leftPanel {
	left: 0;
}

.rightPanel-open #rightPanel {
	right: 0;
}

#leftPanel, #main {
	-webkit-transition: left 0.2s ease;
  	-moz-transition: left 0.2s ease;
  	transition: left 0.2s ease;
}

#rightPanel, #main {
	-webkit-transition: right 0.2s ease;
  	-moz-transition: right 0.2s ease;
  	transition: right 0.2s ease;
}

#leftPanel {
	position: fixed;
	top: 51px;
	left: -255px;
	width: 250px;
	height: 100%;
	padding: 10px;
	border: 1px;
	color: rgb(200, 200, 200);
	background-color: rgb(25, 25, 25);
	box-shadow:         5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#rightPanel {
	position: fixed;
	top: 51px;
	right: -255px;
	width: 250px;
	height: 100%;
	border: 1px;
	color: rgb(200, 200, 200);
	background-color: rgb(25, 25, 25);
	box-shadow:         -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#rightPanel img {
	position: absolute;
	bottom: 51px;
}

#rightPanel hr {
	position: 
	bottom: 301px;
	border-color: #151515;
}

#info {
	padding: 10px;
}