* {
	font-family: 'Open Sans', 'sans-serif';
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	user-select: none;
 	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}

body {
	margin: 0;
	background-color: rgb(15, 15, 15);
}

header {
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px;
	background-color: rgb(25,25,25);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

header h1 {
	float: left;
	margin: 3px;
	margin-left: 10px;
	display: inline-block;
}

#title_MUSIX {
	color: rgb(255, 131, 0);
}

#title_SPOTIFY {
	color: rgb(173, 255, 0);
}

#main {
	position: relative;
	top: 51px;
	left: 20%;
	width: 60%;
	height: 100%;
	padding: 10px;
	overflow: auto;
}

#leftPanel {
	position: fixed;
	float: left;
	top: 51px;
	left: 0px;
	width: 250px;
	height: 100%;
	border: 1px;
	color: rgb(200, 200, 200);
	background-color: rgb(25, 25, 25);
	box-shadow:         5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.leftsub {
	color: rgb(173, 255, 0);
}

.leftbreak {
	position: absolute;
	margin: 0;
	width: 250px;
	border-color: rgb(173, 255, 0);
}

#searchBar {
	margin: 15px 10px 5px 10px;
	display: inline-block;
}

#results {
	height: 72%;
	overflow-y: scroll;
}
#results::-webkit-scrollbar{
	width:8px;
	background-color:#333333;
}
#results::-webkit-scrollbar-thumb{
	border-radius:10px;
	background-color:#252525;
}
#results::-webkit-scrollbar-thumb:hover{
	background-color:#999999;
	border:1px solid #333333;
}
#results::-webkit-scrollbar-thumb:active{
	background-color:#666666;
	border:1px solid #333333;
}
#results::-webkit-scrollbar-track{
	border-radius:10px;
	-webkit-box-shadow:0 0 2px gray inset;
}

.result {
	float: left;
	width: 240px;
	border: 1px;
	border-style: solid;
	border-color: #050505;
	background-color: #101010;
	overflow: hidden;
}

.result:hover {
	color: rgb(173, 255, 0);
	background-color: #151515;
}

.result img {
	float: left;
	width: 60px;
	height: 60px;
}

.resultInfo {
	float: left;
	margin: 2.5px 10px 2.5px 10px;
	display: inline;
}

.resultInfo p {
	margin: 0;
	font-size: 12px;
	overflow: hidden;
}

#rightPanel {
	position: fixed;
	float: right;
	top: 51px;
	right: 0px;
	width: 250px;
	height: 100%;
	border: 1px;
	color: rgb(200, 200, 200);
	background-color: rgb(25, 25, 25);
	box-shadow:         -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.rightbreak {
	position: absolute;
	margin: 0;
	width: 250px;
	border-color: rgb(255, 131, 0);
}

#trackInfo {
	position: absolute;
	width: 250px;
	padding: 10px;
}

.infoBlock {
	margin: 5px 0 5px 0;
}
.rightsub, .infoBlock span {
	color: rgb(255, 131, 0);
}

.infoBlock p {
	display: inline;
}

#albumbreak {
	bottom: 381px;
}

#albumArt {
	position: absolute;
	bottom: 131px;
}

.titlebox {
	padding: 10px;
}

#player {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
}